[submodule "external/PRAcciolini"]
	path = external/PRAcciolini
	url = https://github.com/openpra-org/PRAcciolini.git
[submodule "external/flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
