# This file itself is owned by members who are assigned the Project Admin role in this project.
CODEOWNERS "Project Admin"

# By default, starting from the root dir, all files are owned by the project members
* "Project Member"

# Code Sanitization
*.clang-format* "Project Admin"
*.clang-tidy* "Project Admin"
.editorconfig "Project Admin"

# Repo Sanitization
*.gitignore "Project Admin"
*.gitkeep "Project Admin"

# Deployment Checks
*Dockerfile "Project Admin"
docker-compose*.yml "Project Admin"
stack.yml "Project Admin"
.dockerignore "Project Admin"

# CI/CD, GitLab Pipelines, Space Automations
.space.kts "Project Admin"
.gitlab-ci.yml "Project Admin"

# JetBrains IDE configs
.idea "Project Admin"